{% macro as_table(rows, headers=None) %}
    <table>
        {% if headers %}
            <tr>
                {% for col in headers %}
                    <th>{{ col.replace("_", " ").title() }}</th>
                {% endfor %}
            </tr>
        {% endif %}
        {% for row in rows %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}


{% for testresult in testresults %}
    {% set testcase = testcase_index[testresult["test_case_key"]] %}

    <h1>{{ testcase.name }}</h1>

    <h2>Execution at: {{ testresult.execution_date.format('YYYY-MM-DD HH:mm:ss') }} </h2>

    <h2>Status: {{ testresult.status }}</h2>

    <h2>Environment</h2>
    {{ testresult.environment }}

    <h2>Test Script</h2>
    {% for script_result in testresult.script_results %}

        <h4>{{ script_result.description }}</h4>
        <strong>Executed on {{ script_result.execution_date.format('YYYY-MM-DD HH:mm:ss') }}</strong>
        <h4>Status</h4>
        {{ script_result.status }}

        {% if script_result.expected_result %}
            <h4>Expected Result</h4>
            {{ script_result.expected_result }}
        {% endif %}

        {% if script_result.test_data %}
            <h4>Test Data</h4>
            {{ script_result.test_data }}
        {% endif %}

        {% if script_result.comment %}
            <h4>Comment</h4>
            {{ script_result.comment }}
        {% endif %}

    {% endfor %}

{% endfor %}
