{% macro curlies(item) -%}
{{ "{" }}{{ item }}{{ "}" }}
{%- endmacro %}

{% macro href(url, text) -%}
\href{{ curlies(url) }}{{ curlies(text) }}
{%- endmacro %}

\section{Test Cases}
{% for testcase in testcases %}

\subsection{{ '{' }}{{ href(testcase.jira_url, testcase.key) }} - {{ testcase.name }}{{ "}" }}\label{{ curlies(testcase.key.lower()) }}

\begin{longtable}[]{llllll}
\toprule
Version & Status & Priority & Verification Type & Critical Event & Owner
\\\midrule
{{ testcase.version }} & {{ testcase.status }} & {{ testcase.priority }} & {{ testcase.verification_type }} & {{ testcase.critical_event }} & {{ testcase.owner }}
\\\bottomrule
\end{longtable}

\subsubsection{Requirements}
{% if testcase.requirements %}
    \begin{itemize}
    {% for item in testcase.requirements %}
        \item {{ href(item.jira_url, item.key) }} - {{ item.summary }}
    {% endfor %}
    \end{itemize}
{% else %}
    None.
{% endif %}

\subsubsection{Test Items}
{% if testcase.objective %}
    {{ testcase.objective }}
{% endif %}

{% if testcase.more_objectives %}
{% for title, objective in testcase.more_objectives.items() %}
\paragraph{ {{ title.replace("_", " ").title() }} }
{{ objective }}
{% endfor %}
{% endif %}

\subsubsection{Intercase Dependencies}
{% if testcase.predecessors %}
{{ testcase.predecessors }}
{% endif %}

\subsubsection{Environment Needs}

\paragraph{Software}
{% if testcase.required_software %}
{{ testcase.required_software }}
{% endif %}

\paragraph{Hardware}
{% if testcase.test_equipment %}
{{ testcase.test_equipment }}
{% endif %}

\subsubsection{Input Specification}
{% if testcase.precondition %}
{{ testcase.precondition }}
{% endif %}

\subsubsection{Output Specification}
{% if testcase.postcondition %}
{{ testcase.postcondition }}
{% endif %}

\subsubsection{Test Procedure}
{% if testcase.test_script %}
    \begin{longtable}[]{p{1cm}p{2cm}p{13cm}}
    %\toprule
    Step & \multicolumn{2}{@{}l}{Description, Input Data and Expected Result} \\ \toprule
    \endhead
    {% for step in testcase.test_script %}
        {% if step.test_case_key %}
            {{ loop.index }} & \multicolumn{2}{@{}l}{Steps from
            \hyperref[{{ step.test_case_key.lower() }}]{{ curlies(step.test_case_key) }}) to be executed.}
        {% else %}
            \multirow{3}{*}{ {{ loop.index }} } & Description &
            \begin{minipage}[t]{13cm}{\footnotesize
            {{ step.description }}
            } \end{minipage} \\ \cline{2-3}
            & Test Data &
            {% if step.test_data %}
                {{ step.test_data }} \\ \cline{2-3}
            {% endif %}
            & Expected Result &
            {% if step.expected_result %}
                \begin{minipage}[t]{13cm}{\footnotesize
                {{ step.expected_result }}
                } \end{minipage}
            {% endif %}
        {% endif %}
        \\ \midrule
    {% endfor %}
    \end{longtable}
{% endif %}
{% endfor %}
