{%- macro curlies(item) -%}
{{ "{" }}{{ item }}{{ "}" }}
{%- endmacro -%}

{%- macro href(url, text) -%}
\href{{ "{" }}{{ url|replace("#", "\\#")|replace("%", "\\%")|replace("_", "\\_") }}{{ "}" }}{{ curlies(text) }}
{%- endmacro -%}

\documentclass[DM,lsstdraft,STR,toc]{lsstdoc}
\usepackage{geometry}
\usepackage{longtable,booktabs}
\usepackage{enumitem}
\usepackage{arydshln}

\input meta.tex

\providecommand{\tightlist}{
  \setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}

\setcounter{tocdepth}{4}

\begin{document}

\def\milestoneName{{ '{' }}{{ testplan.milestone_name }}{{ '}' }}
\def\milestoneId{{ '{' }}{{ testplan.milestone_id }}{{ '}' }}
\def\product{{ '{' }}{{ testplan.product }}{{ '}' }}

\setDocCompact{true}

\title{ {{ testplan.milestone_id }} {{ testplan.milestone_name }} Test Plan and Report}
\setDocRef{\lsstDocType-\lsstDocNum}
\date{\vcsdate}
\setDocUpstreamLocation{\url{https://github.com/lsst/lsst-texmf/examples}}
\author{ {{ testplan['owner'] }} }

\input history_and_info.tex


\setDocAbstract{
This is the test plan and report for {{ testplan.milestone_id }} ({{ testplan.milestone_name }}),
an LSST level 2 milestone pertaining to the Data Management Subsystem.
}


\maketitle

\section{Introduction}
\label{sect:intro}


\subsection{Objectives}
\label{sect:objectives}

{{ testplan['objective'] }}

{% for extraField in testplan['objective']['extraFields'] %}

  \subsubsection{ {{ extraField['name']}} }
  {{ extraField['content'] }}

{% endfor %}

\subsection{System Overview}
\label{sect:systemoverview}

{{ testplan['system_overview'] }}

\subsection{Document Overview}
\label{sect:docoverview}

This document was generated from Jira, obtaining the relevant information from the 
\href{https://jira.lsstcorp.org/secure/Tests.jspa#/testPlan/{{ testplan['key'] }}{{ '}' }}{{ '{' }}{{ testplan['key'] }}{{ '}' }}
~Jira Test Plan and related Test Cycles (
{% for cycle in testcycles %}
  \href{https://jira.lsstcorp.org/secure/Tests.jspa#/testCycle/{{ cycle.key }}{{ '}' }}{{ '{' }}{{ cycle.key }}{{ '}' }}
{% endfor %}
).

Section \ref{sect:intro} provides an overview of the test campaign, the system under test (\product{}),
the applicable documentation, and explains how this document is organized.
Section \ref{sect:configuration}  describes the configuration used for this test.
Section \ref{sect:personnel} describes the necessary roles and lists the individuals assigned to them.
%Section \ref{sect:plannedtestactivities} provides the list of planned test cycles and test cases,
including all relevant information that fully describes the test campaign.

Section \ref{sect:overview} provides a summary of the test results, including an overview in Table \ref{table:summary},
an overall assessment statement and suggestions for possible improvements.
Section \ref{sect:detailedtestresults} provides detailed results for each step in each test case.

The current status of test plan {{ testplan['key'] }} in Jira is \textbf{ {{ testplan['status'] }} }.

\subsection{References}
\label{sect:references}
\renewcommand{\refname}{}
\bibliography{lsst,refs,books,refs_ads}
\section{Test Configuration}
\label{sect:configuration}

\subsection{Data Collection}

{% if testplan.observing_required %}
  Observing is required for this test campaign.
{% else %}
  Observing is not required for this test campaign.
{% endif %}

\subsection{Verification Environment}
\label{sect:hwconf}
{% if testplan.verification_environment %}
  {{ testplan.verification_environment }}
{% endif %}

{% if testplan.entry_criteria %}
  \subsection{Entry Criteria}
  {{ testplan.entry_criteria }}
{% endif %}

{% if testplan.exit_criteria %}
  \subsection{Exit Criteria}
  {{ testplan.exit_criteria }}
{% endif %}

{% if testplan.pmcs_activity %}
  \subsection{PMCS Activity}
  {{ testplan.pmcs_activity }}
{% endif %}

\newpage
\section{Personnel}
\label{sect:personnel}

The personnel involved in the test campaign is shown in the following table.

\begin{longtable}{p{3cm}p{3cm}p{3cm}p{6cm}}
\hline
\multicolumn{2}{r}{Test Plan ({{ testplan.key }}) owner:} &
\multicolumn{2}{l}{\textbf{ {{ testplan.owner }} } }\\\hline
{% for cycle in testcycles %}
\multicolumn{2}{r}{ {{ cycle.key }} owner:} &
\multicolumn{2}{l}{\textbf{
  {% if cycle.owner %}
    {{ cycle.owner }}
  {% else %}
    Undefined
  {% endif %}
}
} \\\hline
\textbf{Test Case} & \textbf{Assigned to} & \textbf{Executed by} & \textbf{Additional Test Personnel} \\ \hline
  {% for test_item in cycle.test_items %}
\href{https://jira.lsstcorp.org/secure/Tests.jspa#/testCase/{{ test_item.test_case_key }}{{ '}' }}{{ '{' }}{{ test_item.test_case_key }}{{ '}' }}
& {\small {{ test_item.assignee }} } & {\small {{ test_item.user }} } &
\begin{minipage}[]{6cm}
\smallskip
{\small {{ testcases_map[test_item.test_case_key].test_personnel }} }
\medskip
\end{minipage}
\\ \hline
  {% endfor %}
{% endfor %}
\end{longtable}

\newpage

\section{Test Campaign Overview}
\label{sect:overview}

\subsection{Summary}
\label{sect:summarytable}

\begin{longtable}{p{2cm}p{2.5cm}p{9cm}p{2.5cm}}
\toprule
\multicolumn{3}{l}{ Test Plan {\bf {{ testplan['key'] }}: {{ testplan['name'] }} }} & {{ testplan['status'] }} \\\hline
{% for cycle in testcycles %}

  \multicolumn{3}{l}{ Test Cycle {\bf {{ cycle.key }}: {{ cycle.name }} }} & {{ cycle.status }} \\\hline

  {\bf \footnotesize test case} & {\bf \footnotesize status} & {\bf \footnotesize comment} & {\bf \footnotesize issues} \\\toprule

  {% for test_item in testcycles_map[cycle.key].test_items %}
    \href{https://jira.lsstcorp.org/secure/Tests.jspa#/testCase/{{ test_item['test_case_key'] }}{{ '}' }}{{ '{' }}{{ test_item['test_case_key'] }}{{ '}' }}
    & {{ test_item['status'] }} &
    \begin{minipage}[]{9cm}
    \smallskip
    {{ testresults_map[cycle.key][ test_item['test_case_key'] ]['comment'] }}
    \medskip
    \end{minipage}
    &
    {% for issue_key in testresults_map[cycle.key][ test_item['test_case_key'] ]['result_issue_keys'] %}
      \href{{ "{" }}https://jira.lsstcorp.org/browse/{{ issue_key }}{{ "}" }}{{ "{" }}{{ issue_key }}{{ "}" }}
    {% endfor %}
    {% for script_result in testresults_map[cycle.key][ test_item['test_case_key'] ]['script_results'] %}
      {% if script_result['result_issues'] %}
        {% for issue in script_result['result_issues'] %}
          \href{{ "{" }}https://jira.lsstcorp.org/browse/{{ issue['key'] }}{{ "}" }}{{ "{" }}{{ issue['key'] }}{{ "}" }}
        {% endfor %}
      {% endif %}
    {% endfor %}
    \\\hline
  {% endfor %}
{% endfor %}
\caption{Test Results Summary}
\label{table:summary}
\end{longtable}

\subsection{Overall Assessment}
\label{sect:overallassessment}

{% if testplan.overall_assessment %}
{{ testplan.overall_assessment }}
{% else %}
Not yet available.
{% endif %}

\subsection{Recommended Improvements}
\label{sect:recommendations}

{% if testplan.recommended_improvements %}
{{ testplan.recommended_improvements }}
{% else %}
Not yet available.
{% endif %}

\newpage
\section{Detailed Test Results}
\label{sect:detailedtestresults}

{% for cycle in testcycles %}
\subsection{Test Cycle {{ cycle.key }} }

Open test cycle {\it \href{https://jira.lsstcorp.org/secure/Tests.jspa#/testrun/{{ cycle.key }}}{{ '{' }}{{ cycle.name }}{{ '}' }}} in Jira.

{{ cycle.name }}\\
Status: {{ cycle.status }}

{{ cycle.description }}

\subsubsection{Software Version/Baseline}
  {% if cycle.software_version %}
{{cycle.software_version}}
  {% else %}
Not provided.
  {% endif %}

\subsubsection{Configuration}
  {% if cycle.configuration %}
{{ cycle.configuration }}
  {% else %}
Not provided.
  {% endif %}

\subsubsection{Test Cases in {{ cycle.key }} Test Cycle}

  {% for test_item in testcycles_map[cycle.key].test_items %}
\paragraph{Test Case {{ test_item['test_case_key'] }} - {{ testcases_map[ test_item['test_case_key'] ]['name'] }} }\mbox{}\\

Open  \href{https://jira.lsstcorp.org/secure/Tests.jspa#/testCase/{{ test_item['test_case_key'] }}}{\textit{ {{ test_item['test_case_key'] }} } }
test case in Jira.

{{  testcases_map[ test_item['test_case_key'] ]['objective'] }}

\textbf{ Preconditions}:\\
{{ testcases_map[ test_item['test_case_key'] ]['precondition'] }}

Execution status: {\bf {{  test_item['status'] }} }

Final comment:\\{{ testresults_map[cycle.key][ test_item['test_case_key'] ]['comment'] }}

    {% if testresults_map[cycle.key][ test_item['test_case_key'] ]['issues'] %}
Issues found during the execution of {{ test_item['test_case_key'] }} test case:

\begin{itemize}
      {% for issue in testresults_map[cycle.key][ test_item['test_case_key'] ]['issues'] %}
\item \href{{ "{" }}https://jira.lsstcorp.org/browse/{{ issue['key'] }}{{ "}" }}{{ "{" }}{{ issue['key'] }}{{ "}" }}~~{{ issue['summary'] }}
      {% endfor %}
\end{itemize}
    {% endif %}

Detailed steps results:

\begin{longtable}{p{1cm}p{15cm}}
\hline
{Step} & Step Details\\ \hline
    {% for script_result in testresults_map[cycle.key][ test_item['test_case_key'] ]['sorted'] %}
{{ loop.index }} & Description \\
 & \begin{minipage}[t]{15cm}
{\footnotesize
\smallskip
{{ script_result['description'] }}
\medskip }
\end{minipage}
\\ \cdashline{2-2}

      {% if 'example_code' in script_result.custom_field_values %}
 & Example Code \\
 & \begin{minipage}[t]{15cm}{\footnotesize
\smallskip
{{ script_result.custom_field_values.example_code }}
\medskip }
\end{minipage} \\ \cdashline{2-2}
      {% endif %}
      {% if script_result['testdata'] %}
 & Test Data \\
 & \begin{minipage}[t]{15cm}{\footnotesize
\smallskip
{{ script_result['testdata'] }}
\medskip }
\end{minipage} \\ \cdashline{2-2}
      {% endif %}

 & Expected Result \\
 & \begin{minipage}[t]{15cm}{\footnotesize
\smallskip
{{ script_result['expected_result'] }}
\medskip }
\end{minipage} \\ \cdashline{2-2}

 & Actual Result \\
 & \begin{minipage}[t]{15cm}{\footnotesize
\smallskip
{{ script_result['comment'] }}
\medskip }
\end{minipage} \\ \cdashline{2-2}

      {% if script_result['result_issues'] %}
 & Issues found executing this step:  \\
 & \begin{minipage}[t]{13cm}{\footnotesize
\smallskip
        {% for issue in script_result['result_issues'] %}
\href{{ "{" }}https://jira.lsstcorp.org/browse/{{ issue['key'] }}{{ "}" }}{{ "{" }}{{ issue['key'] }}{{ "}" }}~~{{ issue['summary'] }}
        {% endfor %}
\medskip }
\end{minipage} \\ \cdashline{2-2}
      {% endif %}
 & Status: \textbf{ {{ script_result['status'] }} } \\ \hline

    {% endfor %}
\end{longtable}

  {% endfor %}
{% endfor %}

\input{appendix.tex}
\end{document}
