{% macro as_table(rows, headers=None) %}
    <table>
        {% if headers %}
            <tr>
                {% for col in headers %}
                    <th>{{ col.replace("_", " ").title() }}</th>
                {% endfor %}
            </tr>
        {% endif %}
        {% for row in rows %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}


<h1>Test Cases Summary</h1>
{{ format_tests_preamble(testcases) }}

<h1>Test Cases</h1>
{% for testcase in testcases %}
    <h2>
        <a href="{{ as_jira_test_anchor(testcase["key"]) }}">
            {{ testcase["key"] }}</a> - {{ testcase['name'] }}</h2>

    {{ as_table([[testcase.version, testcase.status, testcase.priority, testcase.verification_type, testcase.critical_event, testcase.owner]],
                headers=['version', 'status', 'priority', 'verification_type', 'critical_event', 'owner']) }}

    {% if testcase.test_items %}
        <h3>Test Items</h3>
        {{ testcase.test_items }}
    {% endif %}

    {% if testcase.more_objectives %}
        {% for title, objective in testcase.more_objectives.items() %}
            <h3>{{ title.replace("_", " ").title() }}</h3>
            {{ objective }}
        {% endfor %}

    {% endif %}

    {% if testcase.requirements %}
        <h3>Requirements</h3>
        <ul>
            {% for item in testcase.requirements %}
                <li>{{ item['anchor'] }} - {{ item['summary'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if "Predecessors" in testcase %}
        <h3>Predecessors</h3>
        {{ testcase["predecessors"] }}
    {% endif %}

    {% if "Required Software" in testcase %}
        <h3>Required Software</h3>
        {{ testcase["required_software"] }}
    {% endif %}

    {% if "precondition" in testcase %}
        <h3>Precondition</h3>
        {{ testcase["precondition"] }}
    {% endif %}

    {% if "Postcondition" in testcase %}
        <h3>Precondition</h3>
        {{ testcase["postcondition"] }}
    {% endif %}

    {% if "test_script" in testcase %}
        <h3>Test Script</h3>
        {% for step in testcase['test_script']['steps'] %}
            <strong>Step {{ loop.index }}</strong>
            <br/>
            {{ step['description'] }}
            <br/>
            {% if 'test_data' in step %}
                {{ step['test_data'] }}
            {% endif %}
            <br/>
        {% endfor %}
    {% endif %}

{% endfor %}

{% if requirements_to_testcases %}
    <h1>Requirements Traceability</h1>
    <table>
        <tr>
            <th>Requirements</th>
            <th>Test Cases</th>
        </tr>
        {% for requirement_key, testcases in requirements_to_testcases.items() %}
            {% set requirement = requirements_map[requirement_key] %}
            <tr>
                <td>
                    <a href="{{ requirement.jira_url }}">
                        {{ requirement_key }} - {{ requirement.summary }}</a>
                </td>
                <td>
                    {% for testcase in testcases %}
                        <a href="#{{ testcases_doc_url_map[testcase] }}">{{ testcase }}
                        </a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endif %}