{% macro as_table(rows, headers=None) %}
    <table>
        {% if headers %}
            <tr>
                {% for col in headers %}
                    <th>{{ col.replace("_", " ").title() }}</th>
                {% endfor %}
            </tr>
        {% endif %}
        {% for row in rows %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}


<h1>Test Case Summary</h1>
{{ format_tests_preamble(testcases) }}

<h1>Test Cases</h1>
{% for testcase in testcases %}
    <h2>
        <a href="{{ as_jira_test_anchor(testcase["key"]) }}">
            {{ testcase["key"] }}</a> - {{ testcase['name'] }}</h2>

    {{ as_table([testcase['summary'].values()], headers=testcase['summary'].keys()) }}

    {% if testcase.test_items %}
        <h3>Test Items</h3>
        {{ testcase.test_items }}
    {% endif %}

    {% if testcase.more_objectives %}
        <h3>Objectives</h3>
        {% for title, objective in testcase.more_objectives %}
            <strong>{{ title }}</strong>
            {{ objective }}
        {% endfor %}

        {% if testcase.more_objectives.deprecated_requirements and not testcase.requirements %}
            <h3>Requirements</h3>
            {{ testcase.more_objectives.deprecated_requirements }}
        {% endif %}
    {% endif %}

    {% if testcase.requirements %}
        <h3>Requirements</h3>
        <ul>
            {% for item in testcase.requirements %}
                <li>{{ item['anchor'] }} - {{ item['summary'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if "Predecessors" in testcase %}
        <h3>Predecessors</h3>
        {{ testcase["Predecessors"] }}
    {% endif %}

    {% if "Required Software" in testcase %}
        <h3>Required Software</h3>
        {{ testcase["Required Software"] }}
    {% endif %}

    {% if "precondition" in testcase %}
        <h3>Precondition</h3>
        {{ testcase["precondition"] }}
    {% endif %}

    {% if "Postcondition" in testcase %}
        <h3>Precondition</h3>
        {{ testcase["Postcondition"] }}
    {% endif %}

    {% if "testScript" in testcase %}
        <h3>Test Script</h3>
        {% for step in testcase['testScript']['steps'] %}
            <strong>Step {{ loop.index }}</strong>
            <br/>
            {{ step['description'] }}
            <br/>
            {% if 'testData' in step %}
                {{ step['testData'] }}
            {% endif %}
            <br/>
        {% endfor %}
    {% endif %}

{% endfor %}
