{%- macro href(url, text) -%}
\href{{ "{" }}{{ url|replace("#", "\\#")|replace("%", "\\%")|replace("_", "\\_") }}{{ "}" }}{{ curlies(text) }}
{%- endmacro -%}

\documentclass[DM,lsstdraft,STR,toc]{lsstdoc}
\usepackage{geometry}
\usepackage{longtable,booktabs}

\input meta.tex

\providecommand{\tightlist}{
  \setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}

\begin{document}

\def\milestoneName{{ '{' }}{{ testplan.milestone_name }}{{ '}' }}
\def\milestoneId{{ '{' }}{{ testplan.milestone_id }}{{ '}' }}
\def\product{{ '{' }}{{ testplan.product }}{{ '}' }}

\setDocCompact{true}

\title[\milestoneId{}~Test Report]{\milestoneId{} (\milestoneName{})~Test Plan and Report}
\setDocRef{\lsstDocType-\lsstDocNum}
\setDocDate{\vcsdate}
\setDocUpstreamLocation{\url{https://github.com/lsst/lsst-texmf/examples}}
\author{ {{ testplan['owner'] }} }

\input history_and_info.tex


\setDocAbstract{
This is the test plan and report for \milestoneId{} (\milestoneName{}), an LSST DM level 1 milestone pertaining to the \product{}.
}


\maketitle

\section{Introduction}
\label{sect:intro}


\subsection{Objectives}
\label{sect:objectives}

{{ testplan['objective'] }}

{% for extraField in testplan['objective']['extraFields'] %}

\subsubsection{ {{ extraField['name']}} }
{{ extraField['content'] }}

{% endfor %}

\subsection{System Overview}
\label{sect:systemoverview}

{{ testplan['system_overview'] }}

\subsection{References}
\label{sect:references}
\renewcommand{\refname}{}
\bibliography{lsst,refs,books,refs_ads}

\subsection{Document Overview and Procedure}
\label{sect:docoverview}

This document is generated from Jira, obtaining the relevant information from the 
\href{https://jira.lsstcorp.org/secure/Tests.jspa#/testPlan/{{ testplan['key'] }}{{ '}' }}{{ '{' }}{{ testplan['key'] }}{{ '}' }}
~Jira Test Plan and related Test Cycles (
{% for cycle in testcycles %}
\href{https://jira.lsstcorp.org/secure/Tests.jspa#/testCycle/{{ cycle.key }}{{ '}' }}{{ '{' }}{{ cycle.key }}{{ '}' }}
{% endfor %}
).

The following general sections are completed before the start of the test activity.

Section \ref{sect:intro} provides an overview of the test campaing, the system under test (\product{}), the documentation, and explains how this document is organized.
Section \ref{sect:configuration}  describes the configuration used for this test.
Section \ref{sect:personnel} lists all people and roles involved.
Section \ref{sect:plannedtestactivities} provides the list of planned test cycles and test cases, including all relevant informatino that fully describe the the test campaign.
The content provided by the above sections shall be sufficient to prove that that the test campaign is ready to start.

Once the above sections are completed, this document can be reviewed by the product leader, the involved opersonel (section \ref{sect:personnel} and by who requested the test campaign.
If everybody agree that the test is ready to start, the Jira Test Plan shall be set to {\bf Approved} by the \product{} product leader.
A first issue of this document can be uploaded in docushare for record.

Section \ref{sect:testresults} is filled after the test activity is completed and the Jira Test Cycles involved have been set to {\bf Done}.
The first subsection \ref{sect:overview} provides a summary view of the results, in table \ref{table:summary}, 
an overall assessment statement and suggestions on possible improvements.
The subsection \ref{sect:detailedtestresults} provides detailed results for each step in each test case.

When completed, this document has to be approved by who requested the test activity and
the final issued uploaded in docushate. 
The status of the Jira Test Plan shall then be set to {\bf Completed}.

The actual status of the Jira test plan {{ testplan['key'] }} is {{ testplan['status'] }}.

\section{Test Configuration}
\label{sect:configuration}

{% if testplan.observing_required %}
Observing is required for this test campaign.
{% else %}
Observing is not required for this test campaign.
{% endif %}

\subsection{Verification Environment}
\label{sect:hwconf}
{% if testplan.verification_environment %}
{{ testplan.verification_environment }}
{% endif %}

{% if testplan.entry_criteria %}
\subsection{Entry Criteria}
{{ testplan.entry_criteria }}
{% endif %}

{% if testplan.exit_criteria %}
\subsection{Exit Criteria}
{{ testplan.exit_criteria }}
{% endif %}

{% if testplan.pmcs_activity %}
\subsection{PMCS Activity}
{{ testplan.pmcs_activity }}
{% endif %}

\section{Personnel}
\label{sect:personnel}

Following personnel is involved in the test activity:

\begin{itemize}
\item Test Plan ({{ testplan.key }}) owner: {{ testplan.owner }} ({{ testplan.owner_id }})
\item Test Cycles:
\begin{itemize}
{% for cycle in testcycles %}
  \item {{ cycle.key }} owner: 
{% if cycle.owner %}
{{ cycle.owner }} ({{ cycle.owner_id }})
{% else %}
Undefined
{% endif %}
  \begin{itemize}
  {% for test_item in cycle.test_items %}
    \item Test case {{ test_item.test_case_key }} tester: {{ test_item.user }} ({{ test_item.user_id }})
  {% endfor %}
  \end{itemize}
{% endfor %}
\end{itemize}
\item Additional Test Personnel involved: None
\end{itemize}

\newpage
\section{Planned Test Activities}
\label{sect:plannedtestactivities}

{% for cycle in testcycles %}

\subsection{{ '{' }}Test Cycle {{ cycle.key }}{{ '}' }}

{{ cycle.name }}\\
Status: {{cycle.status }}


{{ cycle.description }}

{% for cycle_item in cycle.test_items %}

\subsubsection{{ '{' }}{{ cycle_item.test_case_key }}{{ '}' }}

{{ testcases_map[cycle_item.test_case_key].objective }}

\begin{longtable}[]{p{1.3cm}p{15cm}}
%\toprule
Step & {Description} \\ \toprule
\endhead

{% set step_id = namespace(a=1) %}

{% for step in testcases_map[cycle_item.test_case_key]['test_script'] %}
\multirow{1}{*}{ {{ step_id.a }} } &
\begin{minipage}[t]{13cm}{\footnotesize
{{ step['description'] }}
\vspace{\dp0}
} \end{minipage} \\
\\ \midrule
{% set step_id.a = step_id.a + 1 %}
{% endfor %}
\end{longtable}


{% endfor %}

{% endfor %}

\newpage

\section{Test Results}
\label{sect:testresults}

\subsection{Overview of the Test Results}
\label{sect:overview}

\subsubsection{Summary Table}
\label{sect:summarytable}


\begin{longtable} {p{0.2\textwidth}p{0.2\textwidth}p{0.6\textwidth}}
\toprule
{% for cycle in testcycles %}
\multicolumn{3}{c}{ Test Cycle {\bf {{ cycle['key'] }}: {{ cycle['name'] }} }} \\\hline
{\bf \footnotesize test case id} & {\bf \footnotesize status} & {\bf \footnotesize comment} \\\toprule
{% for test_item in cycle.test_items %}
{{ test_item['test_case_key'] }} & {{ test_item['status'] }} & {{ test_item['comment'] }} \\\hline
{% endfor %}
{% endfor %}
\caption{Test Results Summary Table}
\label{table:summary}
\end{longtable}

\subsubsection{Overall Assessment}
\label{sect:overallassessment}


\subsubsection{Recommended Improvements}
\label{sect:recommendations}

\subsection{Detailed Test Results}
\label{sect:detailedtestresults}

\end{document}
